/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 févr. 2018, 20:45:40
    Author     : AYOUB
*/


.names{
    -fx-text-fill: #6a7d9a;
    -fx-font-size:27;
    -fx-font-weight:bolds;
}